@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
The purpose of the North Texas Flying Club is to cultivate camaraderie among aviators, extol the joy of flight, and to promote safety through enlightenment and education.
</p>
