@{
    ViewBag.Title = "Thank You";
}

<h2>Create a New Account</h2>

<p>Thank you for registering. An email has been dispatched with details on how to activate your account.</p>
<p>You will receive an email in your inbox. You MUST follow the link in that email before you can post on these forums. Until you do that, you will be told that you do not have permission to post.</p>
<p>Click <a href="@ViewBag.FrontEndUrl">here</a> to continue.</p>