<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NtxfcEntities" connectionString="metadata=res://*/NtxfcModel.csdl|res://*/NtxfcModel.ssdl|res://*/NtxfcModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;database=ntxfc_main&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FlyingClub.Data.Model.Properties.Settings.ntfcAccessDb"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\genpetrp\Projects\NTXFC\public_html\Data\ntfc.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>