@{
    ViewBag.Title = "FuelReceipts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mailing Fuel Receipts</h2>
<fieldset>
    <p>
        Please mail your fuel receipts to the address below.<br />Don't forget to include your full name and airplane registration number.
    </p>
    <p>
        NTFC<br />
        1609 Iowa Drive <br />
        Plano, Tx 75093
    </p>
</fieldset>
